.navbar.navbar-default.admin-header
  %ul.nav.navbar-nav.navbar-left
    %li= link_to "Dashboard", admins_dashboard_path
    %li= link_to "Basic", admins_applicant_status_path(status: 'basic')
    %li= link_to "DRT", admins_applicant_status_path(status: 'drt')
    %li= link_to "Video", root_path
    %li= link_to "Interview", root_path
    %li= link_to "Simulation", root_path
    %li= link_to "Contract", root_path
    %li= link_to "Approved", root_path
    %li= link_to "Enrolled", root_path
    .search-input-main
      = form_with scope: :search, url: admins_applicant_search_path, local: true do |form|
        = form.text_field :search_term, class: 'search-field', placeholder: 'Search...'
      -# %form.form-search.form-horizontal.pull-right
      -#   %input.search-query.input-large{:placeholder => "Search...", :type => "text"}

