= semantic_form_for [:admins, @commentable, @commentable.comments.build] do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :commentable_type, value: "Applicant"
  = f.hidden_field :commentable_id, value: @commentable_id
  = f.text_area :body, placeholder: "Write your comment here..."
  %br
  = f.submit "Add Comment", class: 'btn btn-primary'
