.container
  %h2 Applicants
  .table-responsive.transparent-container
    %table.table
      %thead
        %tr
          %th First name
          %th Last name
          %th E-mail
          %th Phone
          %th Education
          %th English level
          %th English speaking class
          %th Prefered payment
          %th 
      - @applicants.each do |a|
        %tr
          %td= a.first_name
          %td= a.last_name
          %td= a.email_address
          %td= a.phone_number
          %td= a.highest_education
          %td= a.english_knowledge
          %td= a.english_class
          %td= a.payment_option
          %td= link_to "Show", applicant_admin_path(a.id)
%br/
