= render 'header'
.container
  %h2 Applicant details
  .table-responsive.transparent-container
    %table.table
      %thead
        %tr
          %th First name
          %th Last name
          %th E-mail
          %th Phone
          %th Education
          %th English level
          %th English speaking class
          %th Prefered payment 
          %th 
        %tr
          %td= @applicant.first_name
          %td= @applicant.last_name
          %td= @applicant.email_address
          %td= @applicant.phone_number
          %td= @applicant.highest_education
          %td= @applicant.english_knowledge
          %td= @applicant.english_class
          %td= @applicant.payment_option
          %td= link_to "Back", admins_dashboard_path

%br/