.container
  .table-responsive.transparent-container
    %table.table
      %thead
        %tr
          %th Applicant
          %th Interviewer
          %th Start
          %th Duration
          %th Status
      - @interviews.each do |a|
        %tr
          %td= get_name(a.applicant_id)
          %td= a.interviewer
          %td= a.start
          %td= a.duration
          %td= a.status