.container
  .table-responsive.transparent-container
    %table.table
      %thead
        %tr
          %th Applicant
          %th Interviewer
          %th Start
          %th Duration
          %th Status
  -#    - @interviews.each do |a|
        %tr
          %td= link_to (a.first_name + ' ' + a.last_name).to_str, admins_interviews_path(id: a.id)
          %td= a.interviewer
          %td= a.start
          %td= a.status
          %td= a.duration