.navbar.navbar-default
  %ul.nav.navbar-nav.navbar-left
    %li= link_to 'Payment', filter_admins_options_path(category: 'payment')
    %li= link_to 'Language', filter_admins_options_path(category: 'english_level')
    %li= link_to 'Education', filter_admins_options_path(category: 'education')
    %li= link_to 'Interview', filter_admins_options_path(category: 'interview')
    %li= link_to 'DRT hash', admins_drts_path
