.container.admin-settings
  .transparent-container
    %table.table.table-hover
      %thead
        %tr
          %td
          %td Category
          %td Message
          %td
          %td
      %tbody
        - @options.each_with_index do |option, i|
          %tr
            %td= i + 1
            %td= option.name
            %td= option.message
            %td
              = link_to edit_admins_option_path(id: option.id, category: category) do
                %span.glyphicon.glyphicon-pencil.btn-primary
            %td
              = link_to destroy_admins_options_path(category: category, id: option.id), method: :delete do
                %span.glyphicon.glyphicon-trash.btn-danger
    %div.fluid-container
      = link_to 'Add', new_admins_option_path(category: category), class: 'btn btn-primary'
