%h1 Application form
.applicant-form
  = semantic_form_for @applicant do |f|
    = f.input :first_name,
              input_html: {value: session[:first_name]}
    = f.input :last_name,
              input_html: {value: session[:last_name]}
    = f.input :email_address,
              input_html: {value: session[:email]},
              label: "E-mail" 
    = f.input :phone_number,
              label: "Phone number (in the following format: 0036201234567)"
    = f.input :highest_education,
              as: :select,
              collection: get_name('Education'),
              include_blank: false,
              label: "What's your level of education?"
    = f.input :english_knowledge,
              as: :select,
              collection: get_name('English level'),
              include_blank: false,
              label: "What's your level of English?"
    = f.input :english_class,
              as: :radio,
              collection: get_name_and_message('Language'),
              label: "Would you prefer to study in an English-speaking group, if possible?"
    = f.input :payment_option,
              as: :radio,
              collection: get_name_and_message('Payment'),
              label: "Which payment option do you wish to choose?" 
    = f.action :submit,
               as: :button,
               label: "Submit my application"
