%nav.navbar.navbar-default
  .navbar-header
  = link_to 'Jade', root_path, class: 'navbar-brand'
  - if current_user
    = link_to 'Profil', welcome_profile_path, class: 'navbar-brand'
    = link_to 'Application', new_applicant_path, class: 'navbar-brand'
  - if current_user && current_user.admin
    = link_to 'Config', filter_admins_options_path(category: 'payment'), class: 'navbar-brand'
    = link_to 'Applicants', admins_dashboard_path, class: 'navbar-brand'
  %ul.nav.navbar-nav
    - if current_user
      = link_to 'Logout', destroy_user_session_path, class: 'btn btn-success', method: :delete
    - else
      = link_to 'Login', user_google_oauth2_omniauth_authorize_path, class: 'btn btn-success'
